SECRET_KEY=insecure-o3pso%styvjdzg_tz@%9g49cfy!!po+0y42sbdnfs2k
DEBUG=False

SMS_KEY=dvd
SMS_LINE_NUMBER=300

EMAIL_VERIFICATION_ENABLED=False
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=LinuxFest
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_TIMEOUT=10
EMAIL_OTP_TTL_SECONDS=600
EMAIL_OTP_RESEND_SECONDS=60
EMAIL_OTP_MAX_ATTEMPTS=5

PAYMENT_API_KEY=replace-with-zarinpal-merchant-id
PAYMENT_CALLBACK_URL=https://ceit-ssc.ir/payment/linuxfest/zarinpal/callback
PAYMENT_START_URL=https://ceit-ssc.ir/payment/start
PAYMENT_RETURN_URL=https://linuxfest.ir/payment/perhaps
PAYMENT_HTTP_CONNECT_TIMEOUT=5
PAYMENT_HTTP_READ_TIMEOUT=15

DB_ENGINE=django.db.backends.postgresql
DB_NAME=asdf
DB_USER=asdf
DB_PASSWORD=asdf
DB_HOST=127.0.0.1
DB_PORT=5432
