SECRET_KEY=insecure-o3pso%styvjdzg_tz@%9g49cfy!!po+0y42sbdnfs2k
DEBUG=False

SMS_KEY=dvd
SMS_LINE_NUMBER=300

PAYMENT_API_KEY=replace-with-zarinpal-merchant-id
PAYMENT_CALLBACK_URL=https://ceit-ssc.ir/payment/linuxfest/zarinpal/callback
PAYMENT_START_URL=https://ceit-ssc.ir/payment/start
PAYMENT_RETURN_URL=https://linuxfest.ceit-ssc.ir/payment/perhaps
PAYMENT_HTTP_CONNECT_TIMEOUT=5
PAYMENT_HTTP_READ_TIMEOUT=15

DB_NAME=asdf
DB_USER=asdf
DB_PASSWORD=asdf
DB_HOST=127.0.0.1
DB_PORT=3306
