{% extends "admin/change_list.html" %}
{% load i18n l10n %}

{% block result_list %}
  {% if completed_payment_summary %}
    <div class="module" id="completed-payment-summary">
      <table>
        <caption>
          <a class="section" href="#completed-payment-summary">
            {% translate "Completed payment summary" %}
          </a>
        </caption>
        <thead>
          <tr>
            <th scope="col">{% translate "Completed payments" %}</th>
            <th scope="col">{% translate "Total paid (Toman)" %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ completed_payment_summary.count }}</td>
            <td>{{ completed_payment_summary.total|floatformat:0|localize }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}
